<input type="text" placeholder="English" [(ngModel)]="newEn" />
<input type="text" placeholder="Vietnamese" [(ngModel)]="newVn" />
<br><br>
<button (click)="addWord()">Add word</button>
<br><br>
<select name="" [(ngModel)]="filterStatus" id="">
  <option value="XEM_TAT_CA">Xem tat ca</option>
  <option value="XEM_DA_NHO">Xem tu da nho</option>
  <option value="XEM_CHUA_NHO">Xem tu chua nho</option>
</select>
<div *ngFor="let word of arrWords">
  <div class="word" *ngIf="getShowStatus(word.memorized)">
    <h4 [ngStyle]="{ color: word.memorized ? 'green' : 'red' }">{{ word.en }}</h4>
    <h4>{{ word.vn }}</h4>
    <button (click)="remove(word.id);">Delete</button>
  </div>
</div>
